################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Documents/~WRL2721.tmp
/Documents/~WRL1417.tmp
/Documents/~WRL1410.tmp
/Documents/~WRL1216.tmp
/Documents/~WRD3140.tmp
/Documents/~WRD0898.tmp
