<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <form class="form-horizontal" name="productForm" role="form" novalidate>
                <fieldset>
                    <legend>Basic Product information</legend>
                </fieldset>
                <div class="form-group" ng-class="{'has-error':productForm.inputProductName.$invalid && 
                                                               productForm.inputProductName.$dirty}">
                    <label for="inputProductName" class="col-sm-2 control-label">Product Name * : </label>
                    <div class="col-sm-10">
                        <input id="inputProductName"
                               name="inputProductName"
                               class="form-control"
                               type="text"
                               placeholder="Required Product Name"
                               ng-model="vm.product.productName"
                               ng-minlength="4"
                               ng-maxlength="12"
                               required />
                        <span class="help-block has-error" ng-show="productForm.inputProductName.$invalid">
                            <span ng-messages=" productForm.inputProductName.$error">
                                <span ng-message="required">Required</span>
                                <span ng-message="minlength">Min of 4 characters</span>
                                <span ng-message="maxlength">Max of 10 characters</span>
                            </span>                            
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':productForm.inputProductCode.$invalid &&
                                                               productForm.inputProductCode.$dirty}">
                    <label for="inputProductCode" class="col-sm-2 control-label">Product Code * :</label>
                    <div class="col-sm-10">
                        <input id="inputProductCode"
                               name="inputProductCode"
                               class="form-control"
                               ui-mask="AAA-**** (required)"
                               ng-model="vm.product.productCode"
                               required/>
                        <span class="help-block has-error" ng-show="productForm.inputProductCode.$invalid">
                            <span ng-show="productForm.inputProductCode.$error.required">Product code is required.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':productForm.inputAvailabilityDate.$invalid &&
                                                               productForm.inputAvailabilityDate.$dirty}">
                    <label for="inputAvailabilityDate" class="col-sm-2 control-label">Availability Date * :</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input id="inputAvailabilityDate"
                                   name="inputAvailabilityDate"
                                   placeholder="Required Available Date"
                                   class="form-control"
                                   type="text"
                                   uib-datepicker-popup="MMMM dd, yyyy"
                                   is-open="vm.opened"
                                   ng-model="vm.product.releaseDate"
                                   required
                                   ng-required="true"
                                   datepicker-options="vm.dateOptions" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="vm.open($event)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-2 control-label">Description :</label>
                    <div class="col-sm-10">
                        <textarea id="inputDescription"
                                  class="form-control"
                                  placeholder="Description of the product"
                                  rows="3"
                                  ng-model="vm.product.description"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>