<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <form class="form-horizontal" name="productForm" role="form">
                <fieldset>
                    <legend>Product Search Tags</legend>
                </fieldset>
                <div class="form-group">
                    <label for="inputSearchTags" class="col-sm-2 control-label">Search Tags</label>
                    <div class="col-sm-10">
                        <input id="inputSearchTags"
                               class="form-control"
                               type="text"
                               placeholder="Product search keywords seperated by a comma"
                               ng-model="vm.product.newTags" />
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-default" title="Add the specified tags" ng-click="vm.addTags(vm.product.newTags)">Add</button>
                    </div>
                </div>
                <div class="row col-sm-8 col-sm-offset-2">
                    <span ng-repeat="tag in vm.product.tags | orderBy">
                        <button class="btn btn-default" ng-click="vm.removeTag($index)">
                            {{tag}}
                            <span class="fa fa-remove"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>