<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Product List</h4>
    </div>
    <table class="table table-bordered table-striped table-condensed" ng-controller="ProductListCtl as vm">
        <thead>
            <tr>
                <td>
                    <button class="btn btn-sm btn-primary" type="button" ng-click="vm.toggleImage()">
                        <i class="fa {{vm.showImage ? 'fa-angle-up' : 'fa-angle-down'}}"> Image</i>
                    </button>
                </td>
                <td>Product</td>
                <td>Code</td>
                <td>Available</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in vm.products">
                <td>
                    <img ng-if="vm.showImage"
                         ng-src="{{product.imageUrl}}"
                         style="width: 50px; margin: 2px"
                         title="{{product.productName}}" />
                </td>
                <td>{{product.productName}}</td>
                <td>{{product.productCode}}</td>
                <td>{{product.releaseDate}}</td>
                <td>{{product.price | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>