<div class="panel panel-primary">
    <div class="panel-heading" style="font-size: large">{{vm.title}}</div>

    <div class="panel-body">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ui-sref-active="active"><a ui-sref=".info">Basic Information</a></li>
            <li role="presentation" ui-sref-active="active"><a ui-sref=".price">Price Details</a></li>
            <li role="presentation" ui-sref-active="active"><a ui-sref=".tags">Search Tags</a></li>
        </ul>
        <div ui-view></div>
    </div>
    <div class="panel-footer">
            <span>
                <button class="btn btn-primary" style="margin-right: 10px" width="80px" ng-click="vm.save()">Save</button>
                <button class="btn btn-default" style="margin-right: 10px" width="80px" ng-click="vm.cancel()">Cancel</button>
            </span>
    </div>
</div>