<!DOCTYPE html>
<html>
<head>
    <title>Acme Product Management</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style sheets -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="Content/bootstrap-theme.min.css" rel="stylesheet" />-->
    <!--<link href="Content/bootswatch/spacelab/bootstrap.min.css" rel="stylesheet" />-->
    <link href="Content/bootswatch/darkly/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body ng-app="productManagement">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">TODO: Sketch out forms of controllers but this is the main page</div>
            </div>
        </div>
    </nav>
    <div class="container">
        <!--<div ng-if="vm.isLoggedIn()" ng-include="'app/products/productEditView.html'"></div>-->

        <table class="table table-bordered table-striped table-condensed"  ng-init="products=[
               {
                                'productId': 1,
                                'productName': 'Leaf Rake',
                                'productCode': 'GDN-0011',
                                'releaseDate': 'March 19, 2009',
                                'description': 'Leaf rake with 48-inch wooden handle.',
                                'cost': 9.00,
                                'price': 19.95,
                                'category': 'garden',
                                'tags': ['leaf', 'tool'],
                                'imageUrl': 'http://openclipart.org/image/300px/svg_to_png/26215/Anonymous_Leaf_Rake.png'
                            },
                            {
                                'productId': 2,
                                'productName': 'Garden Cart',
                                'productCode': 'GDN-0023',
                                'releaseDate': 'March 18, 2010',
                                'description': '15 gallon capacity rolling garden cart',
                                'cost': 20.00,
                                'price': 32.99,
                                'category': 'garden',
                                'tags': ['barrow', 'cart', 'wheelbarrow'],
                                'imageUrl': 'http://openclipart.org/image/300px/svg_to_png/58471/garden_cart.png'
                            },
                             {
                                 'productId': 5,
                                 'productName': 'Hammer',
                                 'productCode': 'TBX-0048',
                                 'releaseDate': 'May 21, 2013',
                                 'description': 'Curved claw steel hammer',
                                 'cost': 1.00,
                                 'price': 8.99,
                                 'category': 'toolbox',
                                 'tags': ['tool'],
                                 'imageUrl': 'http://openclipart.org/image/300px/svg_to_png/73/rejon_Hammer.png'
                             },
                             {
                                 'productId': 8,
                                 'productName': 'Saw',
                                 'productCode': 'TBX-0022',
                                 'releaseDate': 'May 15, 2009',
                                 'description': '15-inch steel blade hand saw',
                                 'cost': 6.95,
                                 'price': 11.55,
                                 'category': 'garden',
                                 'tags': ['garden', 'mower'],
                                 'imageUrl': 'http://openclipart.org/image/300px/svg_to_png/27070/egore911_saw.png'
                             },
                             {
                                 'productId': 10,
                                 'productName': 'Video Game Controller',
                                 'productCode': 'GMG-0042',
                                 'releaseDate': 'October 15, 2002',
                                 'description': 'Standard two-button video game controller',
                                 'cost': 2.22,
                                 'price': 35.95,
                                 'category': 'gaming',
                                 'tags': ['gaming', 'controller', 'video game'],
                                 'imageUrl': 'http://openclipart.org/image/300px/svg_to_png/120337/xbox-controller_01.png'
                             }
                    ]">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Code</td>
                    <td>Available</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>
                        <img ng-src="{{product.imageUrl}}" style="width: 50px; margin: 2px" title="{{product.productName}}" />
                    </td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.releaseDate}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Library Scripts -->
    <script src="scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <!-- Application Script -->
    <script src="app/app.js"></script>
    <!-- Services -->
    <!-- Controllers -->
</body>
</html>
