<!DOCTYPE html>
<html>
<head>
    <title>Acme Product Management</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style sheets -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="Content/bootstrap-theme.min.css" rel="stylesheet" />-->
    <!--<link href="Content/bootswatch/spacelab/bootstrap.min.css" rel="stylesheet" />-->
    <link href="Content/bootswatch/darkly/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body ng-app="productManagement">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">TODO: Sketch out forms of controllers but this is the main page</div>
            </div>
        </div>
    </nav>
    <div class="container">
        <!--<div ng-if="vm.isLoggedIn()" ng-include="'app/products/productEditView.html'"></div>-->
        <div class="panel-body">
            <div class="panel-heading">
                <h4>Product List</h4>
            </div>
            <table class="table table-bordered table-striped table-condensed" ng-controller="ProductListCtl as vm">
                <thead>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-primary" type="button" ng-click="vm.toggleImage()">
                            <i class="fa {{vm.showImage ? 'fa-angle-up' : 'fa-angle-down'}}"> Image</i>
                        </button>
                    </td>
                    <td>Product</td>
                    <td>Code</td>
                    <td>Available</td>
                    <td>Price</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in vm.products">
                    <td>
                        <img ng-if="vm.showImage"
                             ng-src="{{product.imageUrl}}"
                             style="width: 50px; margin: 2px"
                             title="{{product.productName}}"/>
                    </td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.releaseDate}}</td>
                    <td>{{product.price | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Library Scripts -->
    <script src="scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <!-- Application Script -->
    <script src="app/app.js"></script>
    <!-- Services -->
    <!-- Controllers -->
    <script src="app/products/productListCtl.js"></script>
</body>
</html>
