.wizard {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 150px;
    -moz-min-width: 150px;
    -ms-min-width: 150px;
    -o-min-width: 150px;
    -webkit-min-width: 150px;    
    outline: none;
    padding: 10px 40px 10px;
    position: relative;
    text-decoration: none;
}

.wizard .active {
    background: #007ACC;
    color: #fff;
}
